<!DOCTYPE html>
<html lang="en">
  <head>
    <style>
      .chart1 {
        height: 300px;
        width: 600px;
        position: absolute;
        top: 390px;
        left: 16%;
        /* background-color: red; */
      }
      .chart2 {
        height: 300px;
        width: 600px;
        position: absolute;
        top: 390px;
        left: 57%;
        /* background-color: white; */
      }
      .box {
        display: flex;
        width: 84%;
        position: relative;
        left: 16%;
        top: 20px;
        gap: 4%;
        flex-wrap: wrap;
      }
      .box .one,
      .two,
      .three,
      .four,
      .five {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        height: 80px;
        width: 20%;
        padding: 10px;
        background-color: white;
        border-radius: 5px;
        margin-top: 10px;
      }
      .box .child {
        height: 50%;
        width: 80%;
        display: flex;
        gap: 20px;
        align-items: center;
        justify-content: center;
      }
      .box .child .icon {
        height: 100%;
        width: 30%;
        background-color: #b7e4c7;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 100%;
        font-size: 20px;
      }
      .box .content {
        height: 50%;
        width: 80%;
        display: flex;
        gap: 20px;
        align-items: center;
        justify-content: center;
        font-size: 20px;
        font-weight: bolder;
      }
    </style>
    <%- include("layouts/header") -%>
  </head>
  <body>
    <%- include('layouts/sidebar') -%>
    <div class="box">
      <div class="one">
        <div class="child">
          <div class="icon" style="color: blue">
            <i class="fa-solid fa-user"></i>
          </div>
          <p>Total users</p>
        </div>
        <div class="content"><%= usersCount %></div>
      </div>
      <div class="two">
        <div class="child">
          <div class="icon" style="color: orangered">
            <i class="fa-solid fa-bag-shopping"></i>
          </div>
          <p>Total products</p>
        </div>
        <div class="content"><%= productcount %></div>
      </div>
      <div class="three">
        <div class="child">
          <div class="icon" style="color: white">
            <i class="fa-solid fa-calendar-days"></i>
          </div>
          <p>Today date</p>
        </div>
        <div class="content" id="date-today" style="font-size: 15px"></div>
      </div>
      <div class="four">
        <div class="child">
          <div class="icon" style="color: #9e2a2b">
            <i class="fa-solid fa-clock"></i>
          </div>
          <p>Time</p>
        </div>
        <div class="content" id="time"></div>
      </div>
    </div>

    <div class="chart1">
      <canvas id="myChart1"></canvas>
    </div>
    <div class="chart2">
      <canvas id="myChart2"></canvas>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="/js/dashboard.js"></script>
  </body>
</html>
