<div class="sidebar">
    <div class="logo">
        
        <h1>ShopX</h1>
    </div>
    <div class="profile">
        <div class="image"></div>
        <h1><%= mongoAdminData.name %> </h1>
    </div>
    <ul>
        <li><a href="/admin/dashboard"><i class="fa-solid fa-table-cells-large"></i>&nbsp;&nbsp;Dashboard</a></li>
        <li><a href="/admin/aadproduct"><i class="fa-regular fa-square-plus"></i>&nbsp;&nbsp;Add Product</a></li>
        <li><a href="/admin/catogory"><i class="fa-regular fa-square-plus"></i>&nbsp;<i class="fa-solid fa-layer-group"></i>&nbsp;&nbsp;Add ctogory</a></li>
        <li><a href="#"><i class="fa-solid fa-bag-shopping"></i>&nbsp;&nbsp;Show Product</a></li>
        <li><a href="/admin/usersList"><i class="fa-solid fa-users"></i>&nbsp;&nbsp;Users List</a></li>
        <li><a href="#"><i class="fa-solid fa-user-plus"></i>&nbsp;&nbsp;Add a admin</a></li>
    </ul>

    <button><i class="fa-solid fa-right-from-bracket"></i>&nbsp;&nbsp;logout</button>
</div>