*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}
.container{
    height: 100vh;
    width: 100%;
    /* overflow: hidden; */
    
}
body{
    font-family: sans-serif;
    background-color: #eeeeee;

}
/* nav bar  */

nav{
    height: 80px;
    background-color: #eeeeee;
    width: 100%;
    box-shadow: 0 0 10px -2px gray;
}
nav h1{
    color: #ffb703;
    position: absolute;
    top: 20px;
    left: 5%;
    font-size: 40px;
}
nav ul{
    float: right;
    margin-right: 100px;
}
nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0px 15px;
}
nav ul li a{
    position: relative;
    color: black;
    font-size: 18px;
    padding:5px 0;
    text-transform: uppercase;
}
nav ul li a:before{
    position: absolute;
    content: '';
    left: 0;
    bottom: 0;
    height: 3px;
    width: 100%;
    background-color: white;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform .3s linear;
    
}
nav ul li a:hover:before{
    transform: scaleX(1);
    transform-origin: left;
}
label #btn,
label #cancel{
    color: white;
    font-size: 30px;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}
#check{
    display: none;
}
nav ul li button{
    height: 30px;
    width: 80px;
    border-radius: 20px;
    background:none;
    border: none;
    color: black;
    font-size: larger;
    /* border: 1px solid gray; */

}
nav ul li button:hover{
    transform: scaleX(1.1);
}
nav .input{
    height: 30px;
    width: 20%;
    position: absolute;
    top: 25px;
    left: 30%;
}
nav .input input{
    height: 100%;
    width: 88%;
    border: 1px solid gray;
    border-radius: 5px;
    text-align: center;
}
nav .input button{
    height: 100%;
    width: 9%;
    background: none;
    border: none;
}
nav .input button:hover{
    transform: scale(1.1);
}
nav .input input:focus{
    outline: 1px solid blue;
}

/* footer */

footer{
    height: 190px;
    background-color: #131a22;
    position:relative;
    bottom: 0;
    width: 100%;
}
footer h1{
    color: white;
    font-size: 25px;
    text-align: center;
    padding-top: 10px;
}
footer .one p{
    color: white;
    text-align: center;
}
footer .one .part1 a{
    text-decoration: none;
    color: #939b9c;
    display: flex;
    line-height: 25px;
    
}
footer .one .part2 a{
    text-decoration: none;
    color: #939b9c;
    display: flex;
    line-height: 25px;
}
footer .one .main{
    display: flex;
    gap: 80px;
}
footer .one{
    margin-left: 5%;
    height: 150px;
    width: 200px;
    
   
}
footer .two {
    height: 150px;
    width: 300px;
    position: absolute;
    top: 20%;
    left: 25%;
    
}
footer .two img{
    height: 50px;
    width: 50px;
    margin-left: 40%;
    
}
footer .two .main{
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-left: 20%;
    margin-top: 10px;
}
footer .two .main a{
    text-decoration: none;
    color: #939b9c;
}
footer .three{
    height: 100px;
    width: 300px;
    position: absolute;
    left: 60%;
    top: 20%;
}
footer .three p{
    text-align: center;
    color: white;
}
footer .three .main{
    display: flex;
    gap: 10%;
    font-size: 20px;
    margin-top: 5%;
    margin-left: 30%;
}
footer .three a{
    text-decoration: none;
    color: #939b9c;
    
}
/* banner */
.bannerhead{
    height: 90%;
    width: 100%;
    margin-left: 0%;
    margin-top: 0%;
    /* background-color: red; */
    border-radius: 5px;
    position: relative;
    overflow: hidden;  
}
.banner{
    height: 100%;
    width: 100%;
    position: absolute;
    transition: 1s;
}
.banner img{
    height: 100%;
    width: 100%;
    border-radius: 5px;

}
.btnnav{
        position: absolute;
        top: 50%;
        left: 0;
        width: 100%;
        /* transform: translateY(-50%); */
        display: flex;
        justify-content: space-between;
        align-items: center;
        
}
.btnnav button{
    height: 60px;
    width: 30px;
    font-size: larger;
    border: none;
    background: none;
}

/* show category */
.categorycard{
    height: 200px;
    width: 20%;
    background-color: red;
    position: relative;
    left: 5%;
    top: 50px;
    border-radius: 10px; 
    cursor: pointer;
}
.listcategory{
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
}
.categoryh1{
    text-align: center;
    position: relative;
    /* color: white; */
    top: 30px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.listcategory .categorycard img{
    height: 100%;
    width: 100%;
    border-radius: 10px;

}
.listcategory .categorycard p{
    text-align: center;
    font-size: 15px;
    /* color: white; */
    font-family:Verdana, Geneva, Tahoma, sans-serif
}

/* first 10 product  */
.product{
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
}
.procard{
height: 250px;
width: 250px;
position: relative;
border: 1px solid gray;
top: 150px;
background-color: rgb(232, 227, 227);
left: 2%;
border-radius: 5px;
cursor: pointer;

}
.procard img{
height: 70%;
width: 90%;
position: relative;
top: 5%;
left: 5%;
border-radius: 10px;
}
.procard img:hover{
    transform: scale(1.3);
    transition: .3s ease-in;
    z-index: 1;
}
.procard .name{
text-align: center;
font-size: 25px;
font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
position: relative;
top: 10px;
}
.procard .prize{
text-align: center;
font-family: sans-serif;
font-weight: bolder;
position: relative;
top: 15px;
color: #450920;

}
.product-h1 {
    text-align: center;
    position: relative;
    /* color: white; */
    top: 130px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;   
}
.btnshowall{
   position: relative;
   top: 170px;
   left:2.5% ;
   height: 40px;
   width: 95%;
   border-radius: 5px;
   font-size: larger;
   border: 1px solid gray;
   cursor: pointer;
   background-color: rgb(188, 173, 173);
}
.profile{
    height: 50px;
    width: 50px;
    border-radius: 50px;
    background-color: white;
    margin-right: 10px;
    position: relative;
    top: 15px;
    left: 94%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: larger;
}
.profile img{
    height: 100%;
    width: 100%;
    border-radius: 100%;
}
.profile-sub{
    height: 120px;
    width: 100px;
    background-color: white;
    position: relative;
    top: 30px;
    left: 92%;
    z-index: 1;
    display: none;
    border-radius: 0 0 5px 5px;
}
.profile-sub button{
    height: 40px;
    width: 100%;
    border: none;
    border-radius: 0 0 5px 5px;

}
.profile-sub button:hover{
    background-color: green;
    color: white;
}


@media (max-width: 1118px ) {
    nav h1{
        left: 3%;
    }.categorycard{
        height: 150px; 
        width: 20%;
        background-color: red;
        position: relative;
        left: 5%;
    }
    .listcategory{
       gap: 30px;
    }
    
    
}


@media (max-width: 944px ) {
    nav h1{
        left: 2%;
        font-size: 35px;
        top: 15px;
    }
    nav ul li a{
        font-size: 15px;

    }
    .categorycard{
        height: 150px; 
        width: 20%;
        background-color: red;
        position: relative;
        left: 5%;
    }
    
}


@media (max-width: 860px ) {
    label #btn{
        display: block;
    }
    nav{
        position: fixed;
        top: 0;
        z-index: 1;
    }
    ul{
        position: fixed;
        height: 100vh;
        width: 80%;
        background-color: rgb(241, 238, 238);
        top: 80px;
        left: -100%;
        /* text-align: center; */
        transition: all .4s;
        z-index: 1;
    }
    nav ul li{
        display: block;
        margin: 30px 0 0 10px;
        line-height: 20px;
    }
    nav ul li a{
        font-size: 15px;
        margin-left: 25px;
        color: gray;
        
    }
    #check:checked ~ ul {
        left: 0;
    }
    
    #check:checked ~ label #btn{
        display: none;
    }
    #check:checked ~ label #cancel{
        display: block;
    }
   
    
    nav ul li button{
        height: 30px;
        width: 80px;
        border-radius: 20px;
        background:none;
        border: none;
        color: gray;
        font-size: larger;
        margin-left: 18px;
        /* border: 1px solid gray; */
    
    }
    footer .one {
        display: none;
    }
    footer .two{
    height: 100px;
    width: 200px;
    position: absolute;
    top: 20%;
    left: 0%;
    }
    footer .two img{
        height: 30px;
        width: 30px;
        margin-left: 40%;
    }
    footer .two .main a{
        font-size: 13px;
    }
    footer .three{
        height: 60px;
        width: 150px;
        position: absolute;
        left: 60%;
        top: 25%;
    }
    footer .three .main{
        display: flex;
        gap: 10%;
        font-size: 20px;
        margin-top: 20%;
        margin-left: 15%;
    }
    .bannerhead{
        height: 20%;
        width: 100%;
        margin-left: 0%;
        margin-top: 25%;
        /* background-color: red; */
        border-radius: 5px;
        position: relative;
        overflow: hidden;  
    }
    .btnnav{
        position: absolute;
        top: 30%;
        left: 0;
        width: 100%;
        /* transform: translateY(-50%); */
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .categoryh1{
        text-align: center;
        position: relative;
        font-size: 20px;
        top: 30px;
        font-family:Arial, Helvetica, sans-serif;
    }
    .categorycard{
        height: 100px;
        width: 40%;
        background-color: red;
        position: relative;
        left: 5%;
        top: 50px;
        border-radius: 10px; 
    }
    .listcategory{
        display: flex;
        flex-wrap: wrap;
        gap: 30px;
    }
    .listcategory .categorycard img{
        height: 100%;
        width: 100%;
        border-radius: 10px;
    }
    .listcategory .categorycard p{
        font-size: 10px;
    }
    .product{
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
    }
    .procard{
    height: 220px;
    width: 45%;
    position: relative;
    top: 130px;
    left: 3%;
    box-shadow: none;
    }
    .procard img:hover{
        transform: none;
        transition:none;
    }
    .procard .name{
    font-size: 15px;
    position: relative;
    top: 20px;
    }
    .procard img{
        height: 60%;
        width: 90%;
        }
    .procard .prize{
    text-align: center;
    font-family: sans-serif;
    font-weight: bolder;
    position: relative;
    top: 25px;
    
    }
    .product-h1 {
        font-size: 20px;
        text-align: center;
        position: relative;
        top: 100px;
    }.btnshowall{
        top: 135px;
        left:2.5% ;
        height: 25px;
        width: 95%;
        font-size: 15px;
     }
   
}