<div class="part1">
    <input type="text" name="name" placeholder="Enter the name">
    <input type="number" name="mobno" placeholder="Enter the Mobile Number">
    <input type="email" name="email" placeholder="Enter the Email">
    <input type="text" name="house" placeholder="Enter the House / buildind Name">
  </div>
  <div class="part2">
    <input type="text" name="landmark" placeholder="Enter the Landmark">
    <input type="number" name="pincode" placeholder="Enter the pincode">
    <input type="text" name="district" placeholder="Enter the district">
    <input type="text" name="state" placeholder="Enter the state">
    <input type="hidden" value="" name="couponId" id="couponId">
  </div>

  .address .part1{
    height: 300px;
    width: 25%;
    position: absolute;
    top: 420px;
    left: 3%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    /* background-color: black; */
  }
  .address  input{
    height: 50px;
    border-radius: 5px;
    border: none;
    background-color: #d7e3fc;
    text-align: center;
  }
  ::placeholder{
    text-align: center;
  }
  .address .part2{
    height: 300px;
    width: 25%;
    position: absolute;
    top: 420px;
    left: 29%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    /* background-color: black; */
  }