<footer>
    <h1>ShopX</h1>
    <div class="one">
        <p>Categories</p>
       <div class="main">
        <div class="part1">
            <a href="#">Mens</a>
            <a href="#">Womens</a>
            <a href="#">Kids</a>
            <a href="#">Kitchen</a>
            <a href="#">Home</a>
           </div>
           <div class="part2">
            <a href="#">Vehicle</a>
            <a href="#">Sports</a>
           </div>
       </div>
        
    </div>
    <div class="two">
        <img src="/miscellaneous/custemor_support-removebg-preview.png" alt="ðŸ˜">
        <div class="main">
            <a href="#"><i class="fa-regular fa-envelope"></i>&nbsp;&nbsp;shopX@ecommerce.in</a>
            <a href="#"><i class="fa-solid fa-mobile"></i>&nbsp;&nbsp;+91 8943454309</a>
        </div>
    </div>
    <div class="three">
        <p>Social Medias</p>
        <div class="main">
        <a href="#"><i class="fa-brands fa-instagram"></i></a>
        <a href="#"><i class="fa-brands fa-facebook"></i></a>
        <a href="#"><i class="fa-brands fa-x-twitter"></i></a>
        <a href="#"><i class="fa-brands fa-whatsapp"></i></a>
        </div>
    </div>
</footer>