<nav>
    <input type="checkbox" id="check">
    <label for="check">
        <i class="fa-solid fa-bars" id="btn"></i>
        <i class="fa-solid fa-times" id="cancel"></i>

    </label>
    <h1>shopX</h1>
    <div class="input">
        <input type="text" value="" id="search-input">
        <button type="button" id="search-btn"><i class="fa-solid fa-magnifying-glass"></i></button>
    </div>
    <ul>
        <li><a href="/user/home">Home</a></li>
        <li><a href="/user/showallproduct">Product</a></li>
        <li><a href="#">Contact</a></li>
        <li><a href="/user/cart"><i class="fa-solid fa-cart-shopping"></i></a></li>
        <li><a href="/user/wishlist"><i class="fa-regular fa-heart"></i></a></li>
    </ul>
    <div class="profile">
        <!-- <img src="/miscellaneous/Amjath..jpg" alt=""> -->
        <i class="fa-solid fa-user"></i>
    </div>
    <div class="profile-sub">
        <button onclick="window.location.href='/user/getprofile'">Profile</button>
        <button onclick="window.location.href='/user/logout'">Logout</button>
        <button onclick="window.location.href='/user/orderhistory'">Orders</button>
    </div>
</nav>
<script>
    const buttons=document.querySelector('.profile-sub')
    const profile=document.querySelector('.profile')
    profile.addEventListener('click',(event)=>{
        const computedStyle = window.getComputedStyle(buttons);
    const displayValue = computedStyle.getPropertyValue('display');
    buttons.style.display = displayValue === 'none' ? 'block' : 'none';
    })

    const searchButton= document.getElementById('search-btn')
    searchButton.addEventListener('click',(event)=>{
        const inputValue= document.getElementById('search-input').value
        console.log(inputValue);
        location.href=`/user/showallproduct?search=${inputValue}`
    })
</script>