<nav>
    <input type="checkbox" id="check">
    <label for="check">
        <i class="fa-solid fa-bars" id="btn"></i>
        <i class="fa-solid fa-times" id="cancel"></i>

    </label>
    <h1>shopX</h1>
    <ul>
        <li><a href="/user/home">Home</a></li>
        <li><a href="#">About</a></li>
        <li><a href="/user/showallproduct">Product</a></li>
        <li><a href="#">Contact</a></li>
        <li><a href="#"><i class="fa-solid fa-cart-shopping"></i></a></li>
        <li><a href="/user/wishlist"><i class="fa-regular fa-heart"></i></a></li>
        <li><button>Logout</button></li>
    </ul>
</nav>