<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>otp invalid</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    <style>
        *{
            font-family: sans-serif;
            background-color:#52b788 ;
        }
        h1{
            text-align: center;
            margin-top: 10%;
        }
        button{
            height: 80px;
            width: 250px;
            font-size: 40px;
            color: white;
            background-color: firebrick;
            position: absolute;
            top: 40%;
            left: 40%;
            border: 1px solid gray;
            border-radius: 20px;
        }
        button:hover{
            border: 1px solid yellow;
        }
        .fa-chevron-right{
            background:none;
        }
    </style>
</head>
<body>
    <h1>You entered an invalid OTP 🥲.please sign-up once more 😍 </h1>
    <a href="/common/signup"> <button>Sign up <i class="fa-solid fa-chevron-right" style="color: #e68c65;"></i></button></a>
   
</body>
</html>