*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: sans-serif;
    list-style: none;
}
body{
    background-color: #eee;
}

/* side bar start */
.sidebar{
    height: 100vh;
    width: 15%;
    background-color: #3a5a40;
    position: fixed;
    box-shadow: 0px 0px 10px 2px gray;

}
.sidebar .logo{
    height: 60px;
    width: 100%;
    /* background-color: red; */
   border-bottom: 1px solid gray;
}

.sidebar ul{
    margin-top: 0px;
   
}
.sidebar ul li{
    margin: 0 0;
    height: 50px;
    width: 100%;
    background-color: #344e41;
    margin-top: 2px;
    line-height: 50px;
}
.sidebar ul li a{
    margin-left: 50px;
    color: white;
}
.sidebar ul li:hover {
   background-color: #9ad1d4;
    
}

.sidebar ul li:hover a{
    color: black;
}
.sidebar button{
    height: 50px;
    width:100% ;
    font-size: larger;
    position: absolute;
    bottom: 0;
    background-color: #3a5a40;
    border: none;
    color: gray;
   
    
}
.sidebar button:hover{
    background-color:blue ;
    color: white;
}
.sidebar .logo h1{
    color: #ffb703;
    text-align: center;
    position: relative;
    top: 5px;
}
.profile.image img{
    height: 50px;
    width: 50px;
    background-color: yellow;
    
}

/* side bar end */



